body {
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;

  &::-webkit-scrollbar-track {
    background-color: gray(30);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(white, 0.2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  input,
  h1,
  h3,
  a,
  span {
    color: gray(90);
    font-family: 'Tilda Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
}

$backgroundImage: 'https://catherineasquithgallery.com/uploads/posts/2021-02/1612743094_124-p-fon-na-android-goluboi-144.jpg';

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$backgroundImageProduct: 'https://i2.wp.com/background4free.com/download/green_blue_aqua_906099281.jpg?';

.background-image2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tab-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  flex: none;
  order: 0;
  flex-grow: 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  li a {
    cursor: pointer;
    transition: 0.5s ease;
  }
}

.time {
  color: rgba(rgb(255, 255, 255), 0.71);
  font-size: 4em;
  height: 60px;
  line-height: 60px;
}

.time-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 0.5em;
}

.pt1 {
  padding-top: 1em;
}

.ml1e {
  margin-left: 1em;
}

.ml2e {
  margin-left: 2em;
}

.ml3e {
  margin-left: 3em;
}

.ml4e {
  margin-left: 4em;
}

.ml5e {
  margin-left: 5em;
}

.ml6e {
  margin-left: 6em;
}

.ml7e {
  margin-left: 7em;
}

.ml8e {
  margin-left: 8em;
}

.ml9e {
  margin-left: 9em;
}

.ml10e {
  margin-left: 10em;
}

.products-container {
  display: flex;
  width: 90%;
  max-width: 1900px;

  flex-direction: row;

  padding: 18px 20px;
  gap: 11px;
}

.product-main-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 65px;
  min-height: calc(100vh);

  position: relative;
  background: #001d00;
}

.content-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 65px;
  width: 90%;
  max-width: 1280px;
}

.header-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 100%;
  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.one-product-page-header {
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #00fe5f;
}

.one-product-page-subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
  width: 100%;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.description-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 28px;
  width: 100%;
  height: fit-content;

  background: #f2f2f2;
  border-radius: 8px;
}

.table-product-props-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.row-product-prop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.row-product-prop-left-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  min-width: 180px;
}

.description-part-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.row-product-prop-right-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.card-container {
  display: list-item;
  flex-direction: column;

  padding: 10px 20px 30px 20px;
  gap: 11px;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.4);

  position: relative;
  width: 45%;
  min-width: 450px;
  max-width: 620px;

  height: auto;
  box-shadow: 2px 2px 2px rgba(rgb(70, 70, 70), 0.1);
  backdrop-filter: blur(4px);
  background-color: rgba(rgb(255, 255, 255), 0.85);
  border-radius: 7px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 12px;
  /* Inside auto layout */
  height: auto;
  align-self: stretch;
  flex-grow: 0;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 11px;

  min-width: 100%;
  height: 63px;
  /* Inside auto layout */
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: #001d00;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.card-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  /* Inside auto layout */
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.card-buttons {
  box-sizing: border-box;
  display: flexbox;
  flex-direction: row;
  gap: 6px;
}

.button-clear {
  backdrop-filter: blur(3px);
  background-color: rgba(rgb(175, 175, 175), 0.4);
  border: 1px solid rgba(white, 0.75);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(black, 0.1);
  height: 30px;

  &:hover {
    background-color: rgba(rgb(0, 0, 0), 0.9);
    color: rgb(255, 255, 255);
    transition: 300ms;
  }
}

.form {
  display: grid;
}

.buttons-login-container {
  display: grid;
  justify-content: end;
}

.input-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(rgb(0, 0, 0), 0.31);
  border: 1px solid rgba(white, 0.75);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(black, 0.1);
  height: 30px;
}

.input-field::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(255, 255, 255);
}

.input-field:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(255, 255, 255);
  opacity: 1;
}

.input-field::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(255, 255, 255);
  opacity: 1;
}

.input-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

.welcome-container {
  display: table;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.enter-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.mainlogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: auto auto;
}

#image-logo {
  transition: 450ms;
}

#enter-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: 0.25s;
}

#registration-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: 0.25s;
}

#form-enter-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 5px;

  flex: none;
  order: 1;
  flex-grow: 0;
  transition: 450ms;
}

#enter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: absolute;
  width: fit-content;
  left: 50%;

  transform: translate(-50%, 60%);
  transition: 450ms;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

#logining-inputs,
#registering-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 5px;
  transition: 450ms;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray(30);

  &.logged-out {
    #image-logo {
      cursor: pointer;

      &:hover {
        scale: 1.5;
      }
    }

    #form-enter-inputs {
      opacity: 0;
      margin-top: 10%;
    }

    #app-background {
      cursor: pointer;
    }
  }

  &.logging-in,
  &.registering,
  &.verifying-log-in,
  &.log-in-error {
    #enter-form {
      transform: translate(-50%, 60%);
    }

    #enter-tab {
      background: rgb(255, 255, 255);
    }

    #registration-tab {
      &:hover {
        background: rgb(0, 0, 0);
        color: white;
      }
    }

    #form-enter-inputs {
      opacity: 1;
      transition: (450ms);
      transition-delay: 200ms;
    }

    #registering-inputs {
      display: none;
      opacity: 0;
    }

    #app-background {
      #app-background-image {
        filter: blur(18px);
        transform: scale(1.2);
      }
    }

    &.registering {
      #enter-tab {
        background: rgba(gray, 0.25);

        &:hover {
          background: rgb(0, 0, 0);
          color: white;
        }
      }

      #registration-tab {
        background: rgb(255, 255, 255);
        color: #000;
      }

      #registering-inputs {
        display: grid;
        opacity: 1;
        transition: (1400ms);
      }

      #logining-inputs {
        display: none;
        opacity: 0;
      }
    }
  }

  &.verifying-log-in {
    #app-loading-icon {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &.log-in-error {
  }

  &.logged-in {
  }

  #app-background2 {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    #app-background-image2 {
      background-image: url($backgroundImageProduct);
      height: 100%;
      transition: filter 450ms, transform 450ms;
      width: 100%;
    }
  }

  #app-background {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    #app-background-image {
      background-image: url($backgroundImage);
      height: 100%;
      transition: filter 450ms, transform 450ms;
      width: 100%;
    }
  }
}
